{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "react/prop-types": 0,
    "max-len": 0,
    "object-curly-newline": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
