/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

body {
  line-height: 1.2;
}

* {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Girassol';
  font-style: normal;
  font-weight: 400;
  src: url(../../../../reactive-video-assets/Girassol-Regular.woff2) format('woff2');
}